<h2>新規ユーザー登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<%
=begin
apprication_controller.rb中の「.for」がundefinedになるので一旦コメントアウト
参考にしたサイトはhttps://blog.otsukasatoshi.com/entry/2016/06/01/191739
これも参考になりそうhttps://qiita.com/pieroplus/items/a2ca31ef06446fab0ee0
  <div class="field">
    <%= f.label :ニックネーム %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>
<%
=end %>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %>文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :確認のためもう一度入力してください %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録！" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
