<h1>mokusコントローラの　editビュー</h1>

<h2><%= "#{@user.name}さんが#{@moku.created_at}にMOKUった内容" %></h2>



<%= form_with(model: @moku,
              url: {controller: :mokus, action: :update, user_id: @user.id, id: @moku.id},
              method: :patch,
              local: true) do |form| %>
  <!--  https://qiita.com/colorrabbit/items/b58888506e41d1370fd1-->
  <h4>
    MOKUタグ：
    <%= form.collection_select :moku_type, @user.moku_types, :id, :name, selected: @moku.moku_type_id %>
  </h4>

  <h4>
    やったことやめも：
    <%= form.text_area :content %>
  </h4>
  <%= form.submit '保存' %>
<% end %>