<h1>Mokus#index</h1>
<h1><%= "#{@user.name}さんのMOKUった一覧"%></h1>


  <% @mokus.each do |moku| %>
    <ul>
      <li>
        <p><%= link_to("#{moku.created_at} の MOKU", user_moku_path(moku.user_id, moku.id)) %>
        <% moku_type = MokuType.find_by(id: moku.moku_type_id) %>
        <%= "MOKUタグ：#{moku_type.name}" %>
        <%= link_to("【成果物の登録】", "/users/#{moku.user_id}/mokus/#{moku.id}/work/new") %></p>
      </li>
    </ul>
  <% end %>

  <%= link_to("マイページへ戻る", "/mypage")%>

