<h1>Moku#new</h1>
<html>
<head>
  <style>
    #clockImage {
        width: 300px;
        height: 300px;
        position: relative;
      }
      .clock {
        width: 300px;
        height: 300px;
        position: absolute;
        top: 0px;
        left: 0px;
      }
  </style>
</head>
<body>
<h1>MOKUる</h1>
  <div id="clockImage" style="display:none;">
      <img src="/assets/dial.png" class="clock"><!--文字盤-->
      <img src="/assets/hour.png" id="hour" class="clock"><!--短針-->
      <img src="/assets/minute.png" id="minute" class="clock"><!--長針-->
      <img src="/assets/second.png" id="second" class="clock"><!--秒針-->
  </div>

<%= javascript_include_tag "clock" %>
  <script> </script>

<%= form_with(model: @moku,
              url: {controller: :mokus, action: :create, user_id: current_user.id},
              method: :post, #getでもいけるけれど設計的に美しくないのでやはりpostがいい
              local: true) do |form| %>

  <%# if @moku.errors.any? %>
    <%# @moku.errors.full_messages.each do |message| %>
      <%#= message %><br>
    <%# end %>
  <%# end %>

  <h3>なにをMOKUりますか？MOKUタグを教えてください</h3>
 <%= form.collection_select :moku_type, @user.moku_types, :id, :name, selected: @user.moku_types %>
    <%# form.collection_selectのメモ
    :moku_type...指定したモデル@mokuのどのカラムが対処？
    @user.moku_type...選択肢になるデーター。@user（そのユーザー）が持ってるmoku_type全部対象だかからmoku_types（っていうかmoku_typesテーブルだなこれ多分）
    :id...表示している選択肢のmoku_typeのid。多分前段でmoku_typesテーブル指定してて、だからidだけでmoku_type.idが拾えてる。これparamsで拾われる。
    :name...表示するmoku_typeのなまえ。これもmoku_typesテーブル参照されてて、moku_typeのなまえはnameにしたから取れるんだ。
    selected:...オプション。どの選択肢を表示しておくか。editならcreate時のデーター引っ張ってる。newの時はHTML的に最初に書かれてるものが出る。
    %>

  <h3>MOKU JUST NOWに公開していいですか？</h3>
  <%= form.select :mjn_public, options_for_public_for_bool %>

  <p><%#= form.submit 'MOKU開始！'%></p>

<% end %>

<hr/>
<input type="hidden" id="startedMokuId"/>
<button type="button" id="startButton">MOKU開始！</button>


<%= form_with(url: 'dummy', method: :patch, local: true, id: 'finishForm') do |form| %>
  <input type="hidden" name="moku_time" id="mokuTime" value=""/>
  <input type="submit" id="stopButton" style="display:none;" value="MOKU終了！"/>
<% end %>

<h3><%= link_to("マイページへ戻る", "/mypage")%></h3>

<script>
    let nowStarted = false
    $(document).ready(function () {
        // $(window).on('beforeunload', function () {
        //     if (nowStarted) {
        //         return "ちょっとまって"
        //     }
        // })
        $('#startButton').on('click', function () {
            nowStarted = true
            $.ajax({
                url: '/ajax/mokus/create',
                method: 'post',
                data: {
                    user_id: <%= current_user.id %>,
                    moku_type_id: $('#moku_type').val(),
                    mjn_public: $('#mjn_public').val()
                }
            }).done(function (json) {
                const moku = json
                const mokuId = moku.id
                $('#startedMokuId').val(mokuId)
                const url = '/mokus/' + mokuId + '/finish'
                $('#finishForm').attr('action', url)
                $('#clockImage').fadeIn(2000)
                $('#stopButton').show()
                $('#startButton, #moku_type, #mjn_public').hide()
            })
        })
    })
</script>

</body>
</html>