<h1>Moku#new</h1>
<html>
<head>
  <style>
    #base {
        width: 300px;
        height: 300px;
        position: relative;
      }
      .clock {
        width: 300px;
        height: 300px;
        position: absolute;
        top: 0px;
        left: 0px;
      }
  </style>
</head>
<body>

  <div id="base">
      <img src="/assets/dial.png" class="clock"><!--文字盤-->
      <img src="/assets/hour.png" id="hour" class="clock"><!--短針-->
      <img src="/assets/minute.png" id="minute" class="clock"><!--長針-->
      <img src="/assets/second.png" id="second" class="clock"><!--秒針-->
  </div>
    <script>
      var time;
      var hour = document.getElementById("hour");
      var minute = document.getElementById("minute");
      var second = document.getElementById("second");

      function main() {
        time = new Date();

        hour.style.transform = "rotate("+(time.getHours()*30+time.getMinutes()*0.5)+"deg)";
        minute.style.transform = "rotate("+(time.getMinutes()*6)+"deg)";
        second.style.transform = "rotate("+(time.getSeconds()*6)+"deg)";

        setTimeout(main, 1000-time.getMilliseconds());
      }

      main();
    </script>


<h1>MOKUる</h1>
<%= form_with(model: @moku,
              url: {controller: :mokus, action: :create, user_id: current_user.id},
              method: :post,
              local: true) do |form| %>

  <%# if @moku.errors.any? %>
    <%# @moku.errors.full_messages.each do |message| %>
      <%#= message %><br>
    <%# end %>
  <%# end %>

  <h3>なにをMOKUりますか？MOKUタグを教えてください</h3>
 <%= form.collection_select :moku_type, @user.moku_types, :id, :name, selected: @user.moku_types %>
    <%# form.collection_selectのメモ
    :moku_type...指定したモデル@mokuのどのカラムが対処？
    @user.moku_type...選択肢になるデーター。@user（そのユーザー）が持ってるmoku_type全部対象だかからmoku_types（っていうかmoku_typesテーブルだなこれ多分）
    :id...表示している選択肢のmoku_typeのid。多分前段でmoku_typesテーブル指定してて、だからidだけでmoku_type.idが拾えてる。これparamsで拾われる。
    :name...表示するmoku_typeのなまえ。これもmoku_typesテーブル参照されてて、moku_typeのなまえはnameにしたから取れるんだ。
    selected:...オプション。どの選択肢を表示しておくか。editならcreate時のデーター引っ張ってる。newの時はHTML的に最初に書かれてるものが出る。
    %>

  <h3>MOKU JUST NOWに載せてもいいですか？</h3>
  <%= form.select :mjn_public, options_for_mjn %>

  <p><%= form.submit 'MOKU開始！'%></p>

<% end %>

<h3><%= link_to("マイページへ戻る", "/mypage")%></h3>
</body>
</html>