<h1>mokusコントローラの　showビュー</h1>

<h1><%= "#{@user.name}さんが#{@moku.created_at}にMOKUった内容"%></h1>

<h4>MOKU 終了時刻</h4>
<%= @moku.updated_at %>

<h4>MOKU TIME</h4>
<%= "○○分MOKUりました！" %>

<h4>MOKUタグ</h4>
<%= @moku_type.name%>

<h4>やったことやめも</h4>
<h4><%= simple_format(@moku.content) %></h4>

<h4><%= "このMOKUの成果物一覧" %></h4>
<% if @works %>
  <% @works.each do |work| %>
  <ul>
    <li>
      <%= link_to(work.title, user_work_path(work.user_id, work.id)) %>
    </li>
  </ul>
  <% end %>
<% end %>

<h4><%= "MOKU JUST NOWへの公開設定は、#{public_to_s(@moku.mjn_public)} でMOKUりました" %></h4>

<p><%= link_to("【編集】", edit_user_moku_path(@user, @moku.id)) %></p>
<%= link_to("MOKUった一覧へ戻る", user_mokus_path(@user))%>
<h3><%= link_to("マイページへ戻る", "/mypage")%></h3>
