<h1>Users#show</h1>
<h1><%= @user.name%>さんのマイページ</h1>
<ul>
  <li>
    <%= link_to("MOKUる(PlanSheet:p10に移動して、そこで開始したら#new)")%>
  </li>
  <li>
    <%= link_to("MOKU一覧へ(カレンダーから)", user_mokus_path(@user))%>
  </li>
  <li>
    <%= link_to("MOKUる一覧へ", user_moku_type_index_path(@user))%>
  </li>
  <li>
    <%= link_to("成果物一覧へ（王冠から）", user_work_index_path(@user))%>
  </li>
</ul>
<%= link_to("設定", edit_user_path(@user))%>
<p><%= link_to("TOPへ戻る", users_path)%></p>