  <h1><%= "成果物タイトル：#{@work.title}" %></h1>

  <% if bookmark = BookMark.find_by(user_id: current_user.id, work_id: @work.id )%>
    <%= link_to("/users/#{current_user.id}/works/#{@work.id}/book_marks", {method: :delete}) do %>
      <%#<span class="fa fa-bookmark fa-2x un-bm-btn" aria-hidden="true"></span> %>
      <i class="fa fa-bookmark fa-3x un-bm-btn" aria-hidden="true"></i>
    <% end %>
  <% else %>
    <%= link_to("/users/#{current_user.id}/works/#{@work.id}/book_marks", {method: :post}) do %>
      <%# <span class="fa fa-bookmark fa-2x bm-btn" aria-hidden="true"></span> %>
      <i class="fa fa-bookmark fa-3x bm-btn" aria-hidden="true"></i>
    <% end %>
  <% end %>
  <%= @bm_count %>

  <h3><%= "成果物登録日時：#{@work.created_at}" %></h3>

  <h3>成果物の画像やファイル</h3>
  <%# 画像がないなら余計な作業は無用なので↓で画像があるかどうか判断している%>
  <% if @work.images.attached? %>
    <% @work.images.each do |image| %>
      <%= image_tag image.variant(resize: '100x') %>
    <% end %>
  <% end %>