<h1>Work#new</h1>

<h1>成果物の登録</h1>

<h3><%= "#{@user.name}さん、#{@moku.created_at}に【#{@moku_type.name}】でMOKUった時の成果物を登録してください。" %></h3>

<%= form_with(model: @work,
url: {controller: :work, action: :create, user_id: @user.id},
method: :post,
local: true) do |form| %>

<h3>制作物タイトル：<%= form.text_field :title %></h3>
１：worksモデルにカラムを追加
・公開設定＝public(1=open/ 0=close)

<h3>画像</h3>
<h3>テキストファイル</h3>
<h3>コメント：<%= form.text_area :comment %></h3>

<h4>
  【作成途中】他ユーザーへの公開設定：
  <%= form.collection_select :public, @work.public, %></h4>
<h4>PICK UP MOKUへの公開設定：<%= select_tag(:release_id, options_for_select([['公開', 1], ['非公開', 2]], 2)) %></h4>

<%= form.submit '登録する' %>
<% end %>