<h1>Work#show</h1>

<h1><%= "成果物タイトル：#{@work.title}" %></h1>
<h3><%= "成果物登録日時：#{@work.created_at}" %></h3>
<h3>成果物の画像やファイル</h3>
  <% if @work.images.attached? %>
    <% @work.images.each do |image| %>
      <%= image_tag image%>
    <% end %>
  <% end %>

<h3><%= "コメント：#{@work.comment}" %></h3>
<h4>他ユーザーへの公開設定：<%= public_to_s(@work.public) %></h4>
<h4>PICK UP MOKUへの公開設定：<%=public_to_s(@work.pick_up) %></h4>
<%# モデルにメソッド書いて、@work.public_to_sにすることもできる。どっちでも。
他の部分でも使うなら、モデルに定義するよりはこのやり方の方がいいだろう
%>


<h4> このが生まれたMOKU：<%=link_to(@moku.created_at, user_moku_path(@user, @moku)) %></h4>
<p><%= link_to("【編集】", edit_user_work_path(@user, @work) ) %><%= link_to("【削除(link未設定)】") %></p>
<p><%= link_to("マイページへ戻る", "/mypage")%></p>