<h1>Mypage#edit</h1>


<h4>ニックネーム（保留中）</h4>
<h4>プロフ画像（保留中）</h4>

<%= form_with(model: @mypage_config,
url: {controller: :mypage, action: :update, user_id: @user.id},
method: :patch,
local: true) do |f| %>

<h4>MOKUアイテム</h4>
<%= f.text_area :items %>

<h4>自己紹介</h4>
<%= f.text_area :introduce %>

<h4>アカウントの公開表/非公開</h4>
<%= f.select :public, options_for_public, selected: @mypage_config.public %>

<ul>
  <li>
    <h3>☁︎公開にすると</h3>
      <p>公開の説明</p>
    <h3>☁︎非公開にすると</h3>
      <p>非公開の説明</p>
  </li>
</ul>

<%= f.submit "登録する" %>
<% end %>

<h3><%= link_to("マイページへ戻る", "/mypage")%></h3>

