<h1>Mypage#index</h1>
<h1><%= @user.name%>さんのマイページ</h1>
<ul>
  <li><%= link_to("MOKUる", new_user_moku_path(@user))%></li>
  <li><%= link_to("MOKUタグ一覧へ", user_moku_type_index_path(@user))%></li>
  <li><%= link_to("成果物一覧へ（王冠から）", user_work_index_path(@user))%></li>
  <li><%= link_to("ブックマーク一覧へ", user_book_marks_path(@user))%></li>
</ul>

<h4>PICK UP<h4>
  <ul>
    <% @work_randoms.each do |work_random| %>
        <li>
        <% work = Work.find_by(id: work_random.id)%>
          <%#= link_to(work_random.title, "users/#{@user.id}/works/#{work.id}/public") %>
          <% if work.user_id == current_user.id%>
            <%= link_to(work_random.title, user_work_path(@user, work)) %>
          <% else %>
            <%= link_to(work_random.title, "/users/#{work.user_id}/works/#{work.id}/public") %>
          <% end %>
        </li>
    <% end %>
  </ul>


<h4>MOKU JUST NOW</h4>
  <ul id="justNowUl"></ul>
  <%= javascript_include_tag "mypage" %>
  <script></script>

<h4><%= "#{@user.name}さんのMOKUアイテム" %></h4>
  <% if @user.items.blank? %>
    <h5>☁︎画面下部の「個人設定」から、使用する道具を登録しよう！</h5>
  <% else %>
    <%= simple_format(@user.items) %>
<% end %>


 <h4>自己紹介</h4>
  <% if @user.introduce.blank? %>
  　<h5>︎︎︎︎☁︎画面下部の「個人設定」から、自己紹介を登録しよう！</h5>
  <% else %>
    <%= simple_format(@user.introduce) %>
<% end %>

<h4><%= "#{@user.name}さんのアカウントは現在#{public_to_s(@user.public)}になっています" %></h4>
<% if @user.admin? %>
<%# booleanを定義している場合、？のメソッドで　tureか？と聞く。
本来聞くメソッドが必ず必要で、今回user.rbに定義はしたんだけど、実は定義しないでもOK
必ず必要だからこそ、もし定義してない場合NoMethodErrorがでて、その時に
booleanのメソッドがないなら生やしてやるよ、とRailsが勝手に判定メソッドをその場で作ってくれるため。
作ってくれるなら書かなくていいよね、という感じでuser.rbのメソッドはコメントアウトした状態。
ちなみにここのif @user.admin?の?は実はあってもなくてもいいけれど、あった方がいいよね、と %>
<h2>管理者メニュー</h2>
  <ul>
    <li>
      <%= link_to("FAQの追加", faqs_new_path )%>
    </li>
    <li>
      <%= link_to("FAQの編集・削除", faqs_path )%>
    </li>
  </ul>
<% end %>

<h1>カレンダー</h1>
<h5><%= link_to("【これまでの全てのMOKU一覧】", user_mokus_path(@user))%></h5>
<%= month_calendar(attribute: :created_at, events: @mokus) do |date, mokus| %>
  <%= date %><br>
  <% mokus.each do |moku| %>
        <%= link_to(moku.moku_type.name, user_moku_path(moku.user_id, moku.id)) %><br>
    <% end %>
<% end %>
