<h1>Mypage#index</h1>
<h1><%= @user.name%>さんのマイページ</h1>
<ul>
  <li>
    <%= link_to("MOKUる", new_user_moku_path(@user))%>
  </li>
  <li>
    <%= link_to("これまでのMOKU一覧へ(カレンダーのメガネから)", user_mokus_path(@user))%>
  </li>
  <li>
    <%= link_to("MOKUタグ一覧へ", user_moku_type_index_path(@user))%>
  </li>
  <li>
    <%= link_to("成果物一覧へ（王冠から）", user_work_index_path(@user))%>
  </li>
  <li>
    <%= link_to("ブックマーク一覧へ", user_book_marks_path(@user))%>
  </li>

  <li>
    PICK UP MOKU
    <% @works_random.each do |work_random| %>
      <ul>
        <li>
        <% work = Work.find_by(id: work_random.id)%>
          <%= link_to(work_random.title, user_work_path(@user,work)) %>
        </li>
      </ul>
    <% end %>
  </li>
  <li>
    MOKU JUST NOW
  </li>
</ul>

<h4><%= "#{@user.name}さんのMOKUアイテム" %></h4>
<%= simple_format(@mypage_config.items) %>
<h4>自己紹介</h4>
<%= simple_format(@mypage_config.introduce) %>
<h4>アカウントの公開表/非公開</h4>
<%= public_to_s(@mypage_config.public) %>

<% if @user.admin? %>
<%# booleanを定義している場合、？のメソッドで　tureか？と聞く。
本来聞くメソッドが必ず必要で、今回user.rbに定義はしたんだけど、実は定義しないでもOK
必ず必要だからこそ、もし定義してない場合NoMethodErrorがでて、その時に
booleanのメソッドがないなら生やしてやるよ、とRailsが勝手に判定メソッドをその場で作ってくれるため。
作ってくれるなら書かなくていいよね、という感じでuser.rbのメソッドはコメントアウトした状態。
ちなみにここのif @user.admin?の?は実はあってもなくてもいいけれど、あった方がいいよね、と %>
<h2>管理者メニュー</h2>
<ul>
  <li>
    <%= link_to("FAQの追加", faqs_new_path )%>
  </li>
  <li>
    <%= link_to("FAQの編集・削除", faqs_path )%>
  </li>
</ul>
<% end %>

<p><%= link_to("MOKUアイテム・自己紹介の編集", "/mypage/#{@user.id}/edit")%></p>
<h3><%= link_to("よくある質問",faqs_path) %></h3>
