<h1>Mypage#show</h1>


<h4>MOKUアイテム</h4>
<%= simple_format(@mypage_config.items) %>
<h4>自己紹介</h4>
<%= simple_format(@mypage_config.introduce) %>
<h4>アカウントの公開表/非公開</h4>
<%= public_to_s(@mypage_config.public) %>

<h3><%= link_to("設定を編集する", "/mypage/#{current_user.id}/edit" )%></h3>
<h3><%= link_to("マイページへ戻る", "/mypage")%></h3>
